.contactoContainer img{
    max-width: 5rem;
}
.contactoContainer{
    margin-top: 10rem;
    font-family: 'sora';
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.contactoContainer h1{
    font-weight: 800;
    margin-bottom: 0;
}
.contactoContainer p{
    font-size: 1.2rem;
    max-width: 60%;
    text-align: center;
    line-height: 40px;
}
.contactoContainer button{
    display: flex;
    align-items: center;
    background-color: rgb(4, 120, 4);
    font-size: 1rem;
    font-family: 'montserrat';
    white-space: nowrap;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
}

@media(max-width: 768px){
    .contactoContainer h1{
        text-align: center;
    }
    .contactoContainer p{
        line-height: 35px;
    }
}